.flag-afg, .flag-af {
  background: url(../flags/png/afg.png);
  background-image: url(../flags/afg.svg), none;
}
.flag-ala, .flag-ax {
  background: url(../flags/png/ala.png);
  background-image: url(../flags/ala.svg), none;
}
.flag-alb, .flag-al {
  background: url(../flags/png/alb.png);
  background-image: url(../flags/alb.svg), none;
}
.flag-dza, .flag-dz {
  background: url(../flags/png/dza.png);
  background-image: url(../flags/dza.svg), none;
}
.flag-asm, .flag-as {
  background: url(../flags/png/asm.png);
  background-image: url(../flags/asm.svg), none;
}
.flag-and, .flag-ad {
  background: url(../flags/png/and.png);
  background-image: url(../flags/and.svg), none;
}
.flag-ago, .flag-ao {
  background: url(../flags/png/ago.png);
  background-image: url(../flags/ago.svg), none;
}
.flag-aia, .flag-ai {
  background: url(../flags/png/aia.png);
  background-image: url(../flags/aia.svg), none;
}
.flag-ata, .flag-aq {
  background: url(../flags/png/ata.png);
  background-image: url(../flags/ata.svg), none;
}
.flag-atg, .flag-ag {
  background: url(../flags/png/atg.png);
  background-image: url(../flags/atg.svg), none;
}
.flag-arg, .flag-ar {
  background: url(../flags/png/arg.png);
  background-image: url(../flags/arg.svg), none;
}
.flag-arm, .flag-am {
  background: url(../flags/png/arm.png);
  background-image: url(../flags/arm.svg), none;
}
.flag-abw, .flag-aw {
  background: url(../flags/png/abw.png);
  background-image: url(../flags/abw.svg), none;
}
.flag-aus, .flag-au {
  background: url(../flags/png/aus.png);
  background-image: url(../flags/aus.svg), none;
}
.flag-aut, .flag-at {
  background: url(../flags/png/aut.png);
  background-image: url(../flags/aut.svg), none;
}
.flag-aze, .flag-az {
  background: url(../flags/png/aze.png);
  background-image: url(../flags/aze.svg), none;
}
.flag-bhs, .flag-bs {
  background: url(../flags/png/bhs.png);
  background-image: url(../flags/bhs.svg), none;
}
.flag-bhr, .flag-bh {
  background: url(../flags/png/bhr.png);
  background-image: url(../flags/bhr.svg), none;
}
.flag-bgd, .flag-bd {
  background: url(../flags/png/bgd.png);
  background-image: url(../flags/bgd.svg), none;
}
.flag-brb, .flag-bb {
  background: url(../flags/png/brb.png);
  background-image: url(../flags/brb.svg), none;
}
.flag-blr, .flag-by {
  background: url(../flags/png/blr.png);
  background-image: url(../flags/blr.svg), none;
}
.flag-bel, .flag-be {
  background: url(../flags/png/bel.png);
  background-image: url(../flags/bel.svg), none;
}
.flag-blz, .flag-bz {
  background: url(../flags/png/blz.png);
  background-image: url(../flags/blz.svg), none;
}
.flag-ben, .flag-bj {
  background: url(../flags/png/ben.png);
  background-image: url(../flags/ben.svg), none;
}
.flag-bmu, .flag-bm {
  background: url(../flags/png/bmu.png);
  background-image: url(../flags/bmu.svg), none;
}
.flag-btn, .flag-bt {
  background: url(../flags/png/btn.png);
  background-image: url(../flags/btn.svg), none;
}
.flag-bol, .flag-bo {
  background: url(../flags/png/bol.png);
  background-image: url(../flags/bol.svg), none;
}
.flag-bes, .flag-bq {
  background: url(../flags/png/bes.png);
  background-image: url(../flags/bes.svg), none;
}
.flag-bih, .flag-ba {
  background: url(../flags/png/bih.png);
  background-image: url(../flags/bih.svg), none;
}
.flag-bwa, .flag-bw {
  background: url(../flags/png/bwa.png);
  background-image: url(../flags/bwa.svg), none;
}
.flag-bvt, .flag-bv {
  background: url(../flags/png/bvt.png);
  background-image: url(../flags/bvt.svg), none;
}
.flag-bra, .flag-br {
  background: url(../flags/png/bra.png);
  background-image: url(../flags/bra.svg), none;
}
.flag-iot, .flag-io {
  background: url(../flags/png/iot.png);
  background-image: url(../flags/iot.svg), none;
}
.flag-brn, .flag-bn {
  background: url(../flags/png/brn.png);
  background-image: url(../flags/brn.svg), none;
}
.flag-bgr, .flag-bg {
  background: url(../flags/png/bgr.png);
  background-image: url(../flags/bgr.svg), none;
}
.flag-bfa, .flag-bf {
  background: url(../flags/png/bfa.png);
  background-image: url(../flags/bfa.svg), none;
}
.flag-bdi, .flag-bi {
  background: url(../flags/png/bdi.png);
  background-image: url(../flags/bdi.svg), none;
}
.flag-khm, .flag-kh {
  background: url(../flags/png/khm.png);
  background-image: url(../flags/khm.svg), none;
}
.flag-cmr, .flag-cm {
  background: url(../flags/png/cmr.png);
  background-image: url(../flags/cmr.svg), none;
}
.flag-can, .flag-ca {
  background: url(../flags/png/can.png);
  background-image: url(../flags/can.svg), none;
}
.flag-cpv, .flag-cv {
  background: url(../flags/png/cpv.png);
  background-image: url(../flags/cpv.svg), none;
}
.flag-cym, .flag-ky {
  background: url(../flags/png/cym.png);
  background-image: url(../flags/cym.svg), none;
}
.flag-caf, .flag-cf {
  background: url(../flags/png/caf.png);
  background-image: url(../flags/caf.svg), none;
}
.flag-tcd, .flag-td {
  background: url(../flags/png/tcd.png);
  background-image: url(../flags/tcd.svg), none;
}
.flag-chl, .flag-cl {
  background: url(../flags/png/chl.png);
  background-image: url(../flags/chl.svg), none;
}
.flag-chn, .flag-cn {
  background: url(../flags/png/chn.png);
  background-image: url(../flags/chn.svg), none;
}
.flag-cxr, .flag-cx {
  background: url(../flags/png/cxr.png);
  background-image: url(../flags/cxr.svg), none;
}
.flag-cck, .flag-cc {
  background: url(../flags/png/cck.png);
  background-image: url(../flags/cck.svg), none;
}
.flag-col, .flag-co {
  background: url(../flags/png/col.png);
  background-image: url(../flags/col.svg), none;
}
.flag-com, .flag-km {
  background: url(../flags/png/com.png);
  background-image: url(../flags/com.svg), none;
}
.flag-cog, .flag-cg {
  background: url(../flags/png/cog.png);
  background-image: url(../flags/cog.svg), none;
}
.flag-cod, .flag-cd {
  background: url(../flags/png/cod.png);
  background-image: url(../flags/cod.svg), none;
}
.flag-cok, .flag-ck {
  background: url(../flags/png/cok.png);
  background-image: url(../flags/cok.svg), none;
}
.flag-cri, .flag-cr {
  background: url(../flags/png/cri.png);
  background-image: url(../flags/cri.svg), none;
}
.flag-civ, .flag-ci {
  background: url(../flags/png/civ.png);
  background-image: url(../flags/civ.svg), none;
}
.flag-hrv, .flag-hr {
  background: url(../flags/png/hrv.png);
  background-image: url(../flags/hrv.svg), none;
}
.flag-cub, .flag-cu {
  background: url(../flags/png/cub.png);
  background-image: url(../flags/cub.svg), none;
}
.flag-cuw, .flag-cw {
  background: url(../flags/png/cuw.png);
  background-image: url(../flags/cuw.svg), none;
}
.flag-cyp, .flag-cy {
  background: url(../flags/png/cyp.png);
  background-image: url(../flags/cyp.svg), none;
}
.flag-cze, .flag-cz {
  background: url(../flags/png/cze.png);
  background-image: url(../flags/cze.svg), none;
}
.flag-dnk, .flag-dk {
  background: url(../flags/png/dnk.png);
  background-image: url(../flags/dnk.svg), none;
}
.flag-dji, .flag-dj {
  background: url(../flags/png/dji.png);
  background-image: url(../flags/dji.svg), none;
}
.flag-dma, .flag-dm {
  background: url(../flags/png/dma.png);
  background-image: url(../flags/dma.svg), none;
}
.flag-dom, .flag-do {
  background: url(../flags/png/dom.png);
  background-image: url(../flags/dom.svg), none;
}
.flag-ecu, .flag-ec {
  background: url(../flags/png/ecu.png);
  background-image: url(../flags/ecu.svg), none;
}
.flag-egy, .flag-eg {
  background: url(../flags/png/egy.png);
  background-image: url(../flags/egy.svg), none;
}
.flag-slv, .flag-sv {
  background: url(../flags/png/slv.png);
  background-image: url(../flags/slv.svg), none;
}
.flag-gnq, .flag-gq {
  background: url(../flags/png/gnq.png);
  background-image: url(../flags/gnq.svg), none;
}
.flag-eri, .flag-er {
  background: url(../flags/png/eri.png);
  background-image: url(../flags/eri.svg), none;
}
.flag-est, .flag-ee {
  background: url(../flags/png/est.png);
  background-image: url(../flags/est.svg), none;
}
.flag-eth, .flag-et {
  background: url(../flags/png/eth.png);
  background-image: url(../flags/eth.svg), none;
}
.flag-eur, .flag-eu {
  background: url(../flags/png/eur.png);
  background-image: url(../flags/eur.svg), none;
}
.flag-flk, .flag-fk {
  background: url(../flags/png/flk.png);
  background-image: url(../flags/flk.svg), none;
}
.flag-fro, .flag-fo {
  background: url(../flags/png/fro.png);
  background-image: url(../flags/fro.svg), none;
}
.flag-fji, .flag-fj {
  background: url(../flags/png/fji.png);
  background-image: url(../flags/fji.svg), none;
}
.flag-fin, .flag-fi {
  background: url(../flags/png/fin.png);
  background-image: url(../flags/fin.svg), none;
}
.flag-fra, .flag-fr {
  background: url(../flags/png/fra.png);
  background-image: url(../flags/fra.svg), none;
}
.flag-guf, .flag-gf {
  background: url(../flags/png/guf.png);
  background-image: url(../flags/guf.svg), none;
}
.flag-pyf, .flag-pf {
  background: url(../flags/png/pyf.png);
  background-image: url(../flags/pyf.svg), none;
}
.flag-atf, .flag-tf {
  background: url(../flags/png/atf.png);
  background-image: url(../flags/atf.svg), none;
}
.flag-gab, .flag-ga {
  background: url(../flags/png/gab.png);
  background-image: url(../flags/gab.svg), none;
}
.flag-gmb, .flag-gm {
  background: url(../flags/png/gmb.png);
  background-image: url(../flags/gmb.svg), none;
}
.flag-geo, .flag-ge {
  background: url(../flags/png/geo.png);
  background-image: url(../flags/geo.svg), none;
}
.flag-deu, .flag-de {
  background: url(../flags/png/deu.png);
  background-image: url(../flags/deu.svg), none;
}
.flag-gha, .flag-gh {
  background: url(../flags/png/gha.png);
  background-image: url(../flags/gha.svg), none;
}
.flag-gib, .flag-gi {
  background: url(../flags/png/gib.png);
  background-image: url(../flags/gib.svg), none;
}
.flag-grc, .flag-gr {
  background: url(../flags/png/grc.png);
  background-image: url(../flags/grc.svg), none;
}
.flag-grl, .flag-gl {
  background: url(../flags/png/grl.png);
  background-image: url(../flags/grl.svg), none;
}
.flag-grd, .flag-gd {
  background: url(../flags/png/grd.png);
  background-image: url(../flags/grd.svg), none;
}
.flag-glp, .flag-gp {
  background: url(../flags/png/glp.png);
  background-image: url(../flags/glp.svg), none;
}
.flag-gum, .flag-gu {
  background: url(../flags/png/gum.png);
  background-image: url(../flags/gum.svg), none;
}
.flag-gtm, .flag-gt {
  background: url(../flags/png/gtm.png);
  background-image: url(../flags/gtm.svg), none;
}
.flag-ggy, .flag-gg {
  background: url(../flags/png/ggy.png);
  background-image: url(../flags/ggy.svg), none;
}
.flag-gin, .flag-gn {
  background: url(../flags/png/gin.png);
  background-image: url(../flags/gin.svg), none;
}
.flag-gnb, .flag-gw {
  background: url(../flags/png/gnb.png);
  background-image: url(../flags/gnb.svg), none;
}
.flag-guy, .flag-gy {
  background: url(../flags/png/guy.png);
  background-image: url(../flags/guy.svg), none;
}
.flag-hti, .flag-ht {
  background: url(../flags/png/hti.png);
  background-image: url(../flags/hti.svg), none;
}
.flag-hmd, .flag-hm {
  background: url(../flags/png/hmd.png);
  background-image: url(../flags/hmd.svg), none;
}
.flag-vat, .flag-va {
  background: url(../flags/png/vat.png);
  background-image: url(../flags/vat.svg), none;
}
.flag-hnd, .flag-hn {
  background: url(../flags/png/hnd.png);
  background-image: url(../flags/hnd.svg), none;
}
.flag-hkg, .flag-hk {
  background: url(../flags/png/hkg.png);
  background-image: url(../flags/hkg.svg), none;
}
.flag-hun, .flag-hu {
  background: url(../flags/png/hun.png);
  background-image: url(../flags/hun.svg), none;
}
.flag-isl, .flag-is {
  background: url(../flags/png/isl.png);
  background-image: url(../flags/isl.svg), none;
}
.flag-ind, .flag-in {
  background: url(../flags/png/ind.png);
  background-image: url(../flags/ind.svg), none;
}
.flag-idn, .flag-id {
  background: url(../flags/png/idn.png);
  background-image: url(../flags/idn.svg), none;
}
.flag-irn, .flag-ir {
  background: url(../flags/png/irn.png);
  background-image: url(../flags/irn.svg), none;
}
.flag-irq, .flag-iq {
  background: url(../flags/png/irq.png);
  background-image: url(../flags/irq.svg), none;
}
.flag-irl, .flag-ie {
  background: url(../flags/png/irl.png);
  background-image: url(../flags/irl.svg), none;
}
.flag-imn, .flag-im {
  background: url(../flags/png/imn.png);
  background-image: url(../flags/imn.svg), none;
}
.flag-isr, .flag-il {
  background: url(../flags/png/isr.png);
  background-image: url(../flags/isr.svg), none;
}
.flag-ita, .flag-it {
  background: url(../flags/png/ita.png);
  background-image: url(../flags/ita.svg), none;
}
.flag-jam, .flag-jm {
  background: url(../flags/png/jam.png);
  background-image: url(../flags/jam.svg), none;
}
.flag-jpn, .flag-jp {
  background: url(../flags/png/jpn.png);
  background-image: url(../flags/jpn.svg), none;
}
.flag-jey, .flag-je {
  background: url(../flags/png/jey.png);
  background-image: url(../flags/jey.svg), none;
}
.flag-jor, .flag-jo {
  background: url(../flags/png/jor.png);
  background-image: url(../flags/jor.svg), none;
}
.flag-kaz, .flag-kz {
  background: url(../flags/png/kaz.png);
  background-image: url(../flags/kaz.svg), none;
}
.flag-ken, .flag-ke {
  background: url(../flags/png/ken.png);
  background-image: url(../flags/ken.svg), none;
}
.flag-kir, .flag-ki {
  background: url(../flags/png/kir.png);
  background-image: url(../flags/kir.svg), none;
}
.flag-prk, .flag-kp {
  background: url(../flags/png/prk.png);
  background-image: url(../flags/prk.svg), none;
}
.flag-kor, .flag-kr {
  background: url(../flags/png/kor.png);
  background-image: url(../flags/kor.svg), none;
}
.flag-kwt, .flag-kw {
  background: url(../flags/png/kwt.png);
  background-image: url(../flags/kwt.svg), none;
}
.flag-kgz, .flag-kg {
  background: url(../flags/png/kgz.png);
  background-image: url(../flags/kgz.svg), none;
}
.flag-lao, .flag-la {
  background: url(../flags/png/lao.png);
  background-image: url(../flags/lao.svg), none;
}
.flag-lva, .flag-lv {
  background: url(../flags/png/lva.png);
  background-image: url(../flags/lva.svg), none;
}
.flag-lbn, .flag-lb {
  background: url(../flags/png/lbn.png);
  background-image: url(../flags/lbn.svg), none;
}
.flag-lso, .flag-ls {
  background: url(../flags/png/lso.png);
  background-image: url(../flags/lso.svg), none;
}
.flag-lbr, .flag-lr {
  background: url(../flags/png/lbr.png);
  background-image: url(../flags/lbr.svg), none;
}
.flag-lby, .flag-ly {
  background: url(../flags/png/lby.png);
  background-image: url(../flags/lby.svg), none;
}
.flag-lie, .flag-li {
  background: url(../flags/png/lie.png);
  background-image: url(../flags/lie.svg), none;
}
.flag-ltu, .flag-lt {
  background: url(../flags/png/ltu.png);
  background-image: url(../flags/ltu.svg), none;
}
.flag-lux, .flag-lu {
  background: url(../flags/png/lux.png);
  background-image: url(../flags/lux.svg), none;
}
.flag-mac, .flag-mo {
  background: url(../flags/png/mac.png);
  background-image: url(../flags/mac.svg), none;
}
.flag-mkd, .flag-mk {
  background: url(../flags/png/mkd.png);
  background-image: url(../flags/mkd.svg), none;
}
.flag-mdg, .flag-mg {
  background: url(../flags/png/mdg.png);
  background-image: url(../flags/mdg.svg), none;
}
.flag-mwi, .flag-mw {
  background: url(../flags/png/mwi.png);
  background-image: url(../flags/mwi.svg), none;
}
.flag-mys, .flag-my {
  background: url(../flags/png/mys.png);
  background-image: url(../flags/mys.svg), none;
}
.flag-mdv, .flag-mv {
  background: url(../flags/png/mdv.png);
  background-image: url(../flags/mdv.svg), none;
}
.flag-mli, .flag-ml {
  background: url(../flags/png/mli.png);
  background-image: url(../flags/mli.svg), none;
}
.flag-mlt, .flag-mt {
  background: url(../flags/png/mlt.png);
  background-image: url(../flags/mlt.svg), none;
}
.flag-mhl, .flag-mh {
  background: url(../flags/png/mhl.png);
  background-image: url(../flags/mhl.svg), none;
}
.flag-mtq, .flag-mq {
  background: url(../flags/png/mtq.png);
  background-image: url(../flags/mtq.svg), none;
}
.flag-mrt, .flag-mr {
  background: url(../flags/png/mrt.png);
  background-image: url(../flags/mrt.svg), none;
}
.flag-mus, .flag-mu {
  background: url(../flags/png/mus.png);
  background-image: url(../flags/mus.svg), none;
}
.flag-myt, .flag-yt {
  background: url(../flags/png/myt.png);
  background-image: url(../flags/myt.svg), none;
}
.flag-mex, .flag-mx {
  background: url(../flags/png/mex.png);
  background-image: url(../flags/mex.svg), none;
}
.flag-fsm, .flag-fm {
  background: url(../flags/png/fsm.png);
  background-image: url(../flags/fsm.svg), none;
}
.flag-mda, .flag-md {
  background: url(../flags/png/mda.png);
  background-image: url(../flags/mda.svg), none;
}
.flag-mco, .flag-mc {
  background: url(../flags/png/mco.png);
  background-image: url(../flags/mco.svg), none;
}
.flag-mng, .flag-mn {
  background: url(../flags/png/mng.png);
  background-image: url(../flags/mng.svg), none;
}
.flag-mne, .flag-me {
  background: url(../flags/png/mne.png);
  background-image: url(../flags/mne.svg), none;
}
.flag-msr, .flag-ms {
  background: url(../flags/png/msr.png);
  background-image: url(../flags/msr.svg), none;
}
.flag-mar, .flag-ma {
  background: url(../flags/png/mar.png);
  background-image: url(../flags/mar.svg), none;
}
.flag-moz, .flag-mz {
  background: url(../flags/png/moz.png);
  background-image: url(../flags/moz.svg), none;
}
.flag-mmr, .flag-mm {
  background: url(../flags/png/mmr.png);
  background-image: url(../flags/mmr.svg), none;
}
.flag-nam, .flag-na {
  background: url(../flags/png/nam.png);
  background-image: url(../flags/nam.svg), none;
}
.flag-nru, .flag-nr {
  background: url(../flags/png/nru.png);
  background-image: url(../flags/nru.svg), none;
}
.flag-npl, .flag-np {
  background: url(../flags/png/npl.png);
  background-image: url(../flags/npl.svg), none;
}
.flag-nld, .flag-nl {
  background: url(../flags/png/nld.png);
  background-image: url(../flags/nld.svg), none;
}
.flag-ncl, .flag-nc {
  background: url(../flags/png/ncl.png);
  background-image: url(../flags/ncl.svg), none;
}
.flag-nzl, .flag-nz {
  background: url(../flags/png/nzl.png);
  background-image: url(../flags/nzl.svg), none;
}
.flag-nic, .flag-ni {
  background: url(../flags/png/nic.png);
  background-image: url(../flags/nic.svg), none;
}
.flag-ner, .flag-ne {
  background: url(../flags/png/ner.png);
  background-image: url(../flags/ner.svg), none;
}
.flag-nga, .flag-ng {
  background: url(../flags/png/nga.png);
  background-image: url(../flags/nga.svg), none;
}
.flag-niu, .flag-nu {
  background: url(../flags/png/niu.png);
  background-image: url(../flags/niu.svg), none;
}
.flag-nfk, .flag-nf {
  background: url(../flags/png/nfk.png);
  background-image: url(../flags/nfk.svg), none;
}
.flag-mnp, .flag-mp {
  background: url(../flags/png/mnp.png);
  background-image: url(../flags/mnp.svg), none;
}
.flag-nor, .flag-no {
  background: url(../flags/png/nor.png);
  background-image: url(../flags/nor.svg), none;
}
.flag-omn, .flag-om {
  background: url(../flags/png/omn.png);
  background-image: url(../flags/omn.svg), none;
}
.flag-pak, .flag-pk {
  background: url(../flags/png/pak.png);
  background-image: url(../flags/pak.svg), none;
}
.flag-plw, .flag-pw {
  background: url(../flags/png/plw.png);
  background-image: url(../flags/plw.svg), none;
}
.flag-pse, .flag-ps {
  background: url(../flags/png/pse.png);
  background-image: url(../flags/pse.svg), none;
}
.flag-pan, .flag-pa {
  background: url(../flags/png/pan.png);
  background-image: url(../flags/pan.svg), none;
}
.flag-png, .flag-pg {
  background: url(../flags/png/png.png);
  background-image: url(../flags/png.svg), none;
}
.flag-pry, .flag-py {
  background: url(../flags/png/pry.png);
  background-image: url(../flags/pry.svg), none;
}
.flag-per, .flag-pe {
  background: url(../flags/png/per.png);
  background-image: url(../flags/per.svg), none;
}
.flag-phl, .flag-ph {
  background: url(../flags/png/phl.png);
  background-image: url(../flags/phl.svg), none;
}
.flag-pcn, .flag-pn {
  background: url(../flags/png/pcn.png);
  background-image: url(../flags/pcn.svg), none;
}
.flag-pol, .flag-pl {
  background: url(../flags/png/pol.png);
  background-image: url(../flags/pol.svg), none;
}
.flag-prt, .flag-pt {
  background: url(../flags/png/prt.png);
  background-image: url(../flags/prt.svg), none;
}
.flag-pri, .flag-pr {
  background: url(../flags/png/pri.png);
  background-image: url(../flags/pri.svg), none;
}
.flag-qat, .flag-qa {
  background: url(../flags/png/qat.png);
  background-image: url(../flags/qat.svg), none;
}
.flag-reu, .flag-re {
  background: url(../flags/png/reu.png);
  background-image: url(../flags/reu.svg), none;
}
.flag-rou, .flag-ro {
  background: url(../flags/png/rou.png);
  background-image: url(../flags/rou.svg), none;
}
.flag-rus, .flag-ru {
  background: url(../flags/png/rus.png);
  background-image: url(../flags/rus.svg), none;
}
.flag-rwa, .flag-rw {
  background: url(../flags/png/rwa.png);
  background-image: url(../flags/rwa.svg), none;
}
.flag-blm, .flag-bl {
  background: url(../flags/png/blm.png);
  background-image: url(../flags/blm.svg), none;
}
.flag-shn, .flag-sh {
  background: url(../flags/png/shn.png);
  background-image: url(../flags/shn.svg), none;
}
.flag-kna, .flag-kn {
  background: url(../flags/png/kna.png);
  background-image: url(../flags/kna.svg), none;
}
.flag-lca, .flag-lc {
  background: url(../flags/png/lca.png);
  background-image: url(../flags/lca.svg), none;
}
.flag-maf, .flag-mf {
  background: url(../flags/png/maf.png);
  background-image: url(../flags/maf.svg), none;
}
.flag-spm, .flag-pm {
  background: url(../flags/png/spm.png);
  background-image: url(../flags/spm.svg), none;
}
.flag-vct, .flag-vc {
  background: url(../flags/png/vct.png);
  background-image: url(../flags/vct.svg), none;
}
.flag-wsm, .flag-ws {
  background: url(../flags/png/wsm.png);
  background-image: url(../flags/wsm.svg), none;
}
.flag-smr, .flag-sm {
  background: url(../flags/png/smr.png);
  background-image: url(../flags/smr.svg), none;
}
.flag-stp, .flag-st {
  background: url(../flags/png/stp.png);
  background-image: url(../flags/stp.svg), none;
}
.flag-sau, .flag-sa {
  background: url(../flags/png/sau.png);
  background-image: url(../flags/sau.svg), none;
}
.flag-sen, .flag-sn {
  background: url(../flags/png/sen.png);
  background-image: url(../flags/sen.svg), none;
}
.flag-srb, .flag-rs {
  background: url(../flags/png/srb.png);
  background-image: url(../flags/srb.svg), none;
}
.flag-syc, .flag-sc {
  background: url(../flags/png/syc.png);
  background-image: url(../flags/syc.svg), none;
}
.flag-sle, .flag-sl {
  background: url(../flags/png/sle.png);
  background-image: url(../flags/sle.svg), none;
}
.flag-sgp, .flag-sg {
  background: url(../flags/png/sgp.png);
  background-image: url(../flags/sgp.svg), none;
}
.flag-sxm, .flag-sx {
  background: url(../flags/png/sxm.png);
  background-image: url(../flags/sxm.svg), none;
}
.flag-svk, .flag-sk {
  background: url(../flags/png/svk.png);
  background-image: url(../flags/svk.svg), none;
}
.flag-svn, .flag-si {
  background: url(../flags/png/svn.png);
  background-image: url(../flags/svn.svg), none;
}
.flag-slb, .flag-sb {
  background: url(../flags/png/slb.png);
  background-image: url(../flags/slb.svg), none;
}
.flag-som, .flag-so {
  background: url(../flags/png/som.png);
  background-image: url(../flags/som.svg), none;
}
.flag-zaf, .flag-za {
  background: url(../flags/png/zaf.png);
  background-image: url(../flags/zaf.svg), none;
}
.flag-sgs, .flag-gs {
  background: url(../flags/png/sgs.png);
  background-image: url(../flags/sgs.svg), none;
}
.flag-esp, .flag-es {
  background: url(../flags/png/esp.png);
  background-image: url(../flags/esp.svg), none;
}
.flag-lka, .flag-lk {
  background: url(../flags/png/lka.png);
  background-image: url(../flags/lka.svg), none;
}
.flag-sdn, .flag-sd {
  background: url(../flags/png/sdn.png);
  background-image: url(../flags/sdn.svg), none;
}
.flag-sur, .flag-sr {
  background: url(../flags/png/sur.png);
  background-image: url(../flags/sur.svg), none;
}
.flag-ssd, .flag-ss {
  background: url(../flags/png/ssd.png);
  background-image: url(../flags/ssd.svg), none;
}
.flag-sjm, .flag-sj {
  background: url(../flags/png/sjm.png);
  background-image: url(../flags/sjm.svg), none;
}
.flag-swz, .flag-sz {
  background: url(../flags/png/swz.png);
  background-image: url(../flags/swz.svg), none;
}
.flag-swe, .flag-se {
  background: url(../flags/png/swe.png);
  background-image: url(../flags/swe.svg), none;
}
.flag-che, .flag-ch {
  background: url(../flags/png/che.png);
  background-image: url(../flags/che.svg), none;
}
.flag-syr, .flag-sy {
  background: url(../flags/png/syr.png);
  background-image: url(../flags/syr.svg), none;
}
.flag-twn, .flag-tw {
  background: url(../flags/png/twn.png);
  background-image: url(../flags/twn.svg), none;
}
.flag-tjk, .flag-tj {
  background: url(../flags/png/tjk.png);
  background-image: url(../flags/tjk.svg), none;
}
.flag-tza, .flag-tz {
  background: url(../flags/png/tza.png);
  background-image: url(../flags/tza.svg), none;
}
.flag-tha, .flag-th {
  background: url(../flags/png/tha.png);
  background-image: url(../flags/tha.svg), none;
}
.flag-tls, .flag-tl {
  background: url(../flags/png/tls.png);
  background-image: url(../flags/tls.svg), none;
}
.flag-tgo, .flag-tg {
  background: url(../flags/png/tgo.png);
  background-image: url(../flags/tgo.svg), none;
}
.flag-tkl, .flag-tk {
  background: url(../flags/png/tkl.png);
  background-image: url(../flags/tkl.svg), none;
}
.flag-ton, .flag-to {
  background: url(../flags/png/ton.png);
  background-image: url(../flags/ton.svg), none;
}
.flag-tto, .flag-tt {
  background: url(../flags/png/tto.png);
  background-image: url(../flags/tto.svg), none;
}
.flag-tun, .flag-tn {
  background: url(../flags/png/tun.png);
  background-image: url(../flags/tun.svg), none;
}
.flag-tur, .flag-tr {
  background: url(../flags/png/tur.png);
  background-image: url(../flags/tur.svg), none;
}
.flag-tkm, .flag-tm {
  background: url(../flags/png/tkm.png);
  background-image: url(../flags/tkm.svg), none;
}
.flag-tca, .flag-tc {
  background: url(../flags/png/tca.png);
  background-image: url(../flags/tca.svg), none;
}
.flag-tuv, .flag-tv {
  background: url(../flags/png/tuv.png);
  background-image: url(../flags/tuv.svg), none;
}
.flag-uga, .flag-ug {
  background: url(../flags/png/uga.png);
  background-image: url(../flags/uga.svg), none;
}
.flag-ukr, .flag-ua {
  background: url(../flags/png/ukr.png);
  background-image: url(../flags/ukr.svg), none;
}
.flag-are, .flag-ae {
  background: url(../flags/png/are.png);
  background-image: url(../flags/are.svg), none;
}
.flag-gbr, .flag-gb {
  background: url(../flags/png/gbr.png);
  background-image: url(../flags/gbr.svg), none;
}
.flag-usa, .flag-us {
  background: url(../flags/png/usa.png);
  background-image: url(../flags/usa.svg), none;
}
.flag-umi, .flag-um {
  background: url(../flags/png/umi.png);
  background-image: url(../flags/umi.svg), none;
}
.flag-ury, .flag-uy {
  background: url(../flags/png/ury.png);
  background-image: url(../flags/ury.svg), none;
}
.flag-uzb, .flag-uz {
  background: url(../flags/png/uzb.png);
  background-image: url(../flags/uzb.svg), none;
}
.flag-vut, .flag-vu {
  background: url(../flags/png/vut.png);
  background-image: url(../flags/vut.svg), none;
}
.flag-ven, .flag-ve {
  background: url(../flags/png/ven.png);
  background-image: url(../flags/ven.svg), none;
}
.flag-vnm, .flag-vn {
  background: url(../flags/png/vnm.png);
  background-image: url(../flags/vnm.svg), none;
}
.flag-vgb, .flag-vg {
  background: url(../flags/png/vgb.png);
  background-image: url(../flags/vgb.svg), none;
}
.flag-vir, .flag-vi {
  background: url(../flags/png/vir.png);
  background-image: url(../flags/vir.svg), none;
}
.flag-wlf, .flag-wf {
  background: url(../flags/png/wlf.png);
  background-image: url(../flags/wlf.svg), none;
}
.flag-esh, .flag-eh {
  background: url(../flags/png/esh.png);
  background-image: url(../flags/esh.svg), none;
}
.flag-yem, .flag-ye {
  background: url(../flags/png/yem.png);
  background-image: url(../flags/yem.svg), none;
}
.flag-zmb, .flag-zm {
  background: url(../flags/png/zmb.png);
  background-image: url(../flags/zmb.svg), none;
}
.flag-zwe, .flag-zw {
  background: url(../flags/png/zwe.png);
  background-image: url(../flags/zwe.svg), none;
}
